[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dateutil = "*"

[dev-packages]
pytest = "==6.2.*"
pytest-cov = "==2.12.*"
pylint = "==2.9.*"
ipython = "*"
pytest-httpbin = "*"

[requires]
python_version = "3.8"
